# 1. 자료구조와 순차 자료형

### 1) 튜플

1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형

In [2]:
tup = 4,5,6
tup

(4, 5, 6)

In [3]:
# 중첩된 튜플(튜플의 튜플)
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:
# tuple 메서드를 호출해 튜플로 변환
tuple([4,0,2])

(4, 0, 2)

In [2]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
tup[0]

's'

In [11]:
tup = tuple(['foo', [1,2], True])

In [6]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)
    
tup

('foo', [1, 2, 3], True)

In [15]:
# 값 분리
tup = (4,5,6)

a,b,c = tup

b

5

In [67]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup
d

7

- 다른 언어와 다르게 아래와 같은 방법으로 두 변수의 값을 쉽게 바꿀 수 있음

In [19]:
a, b = 1, 2
a

1

In [20]:
b

2

In [23]:
b, a = a, b
a

2

In [28]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [44]:
values = 1,2,3,4,5

a, b, *rest = values

a, b

(1, 2)

In [45]:
rest

[3, 4, 5]

In [47]:
a, b, *_ = values

a,b

(1, 2)

- 주어진 값과 같은 값이 몇개 있는지 반환하는 count 메서드

In [49]:
a = (1,2,2,2,3,4,2)

a.count(2)

4

### 2) 리스트
크기나 내용의 변경이 가능

In [50]:
a_list = [2,3,7,None]

In [58]:
tup = ('foo', 'bar', 'baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [59]:
b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

- list 함수는 이터레이터나 제너레이터 표현에서 실제 값을 모두 담기 위한 용도로도 사용됨

In [54]:
gen = range(10)
gen

range(0, 10)

In [55]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 원소 추가/삭제

In [60]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [61]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [65]:
b_list.pop(2) #특정 위치의 값을 반환

'peekaboo'

In [66]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [68]:
b_list.remove('foo') #같은 원소가 두번 이상 나타날 경우 리스트에서 제일 앞에 위치한 값부터 삭제됨
b_list

- in 예약어

In [70]:
'dwarf' in b_list

True

In [71]:
'dwarf' not in b_list

False

- 리스트 이어붙이기

In [72]:
[4, None, 'foo'] + [7, 8 ,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [73]:
x = [4, None, 'foo']

x.extend([7, 8 ,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

- 정렬

In [74]:
a=[7,2,5,1,3]
a.sort() #새로운 리스트를 생성하지 않고 있는 그대로 리스트를 정렬
a

[1, 2, 3, 5, 7]

In [75]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

- bisect 모듈  
- bisect.bisect -> 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치 반환  
- bisect.insort -> 실제로 정렬된 상태를 유지한 채 값을 추가  
- (정렬되지 않은 리스트에 대해 수행하면 정확하지 않은 값 반환)

In [1]:
import bisect

In [21]:
c=[1,2,2,2,3,4,7]

In [22]:
bisect.bisect(c,2)

4

In [23]:
bisect.bisect(c,5)

6

In [24]:
bisect.insort(c,6)

In [25]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

- 슬라이싱

In [26]:
seq = [7,2,3,7,5,6,0,1]

In [27]:
seq[1:5]

[2, 3, 7, 5]

In [28]:
seq[3:4] = [6,3]

In [29]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [30]:
seq[:5]

[7, 2, 3, 6, 3]

In [31]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [35]:
seq[-4:]

[5, 6, 0, 1]

In [36]:
seq[-6:-2]

[6, 3, 5, 6]

In [37]:
seq[::2]  #두 번째 콜론 다음에 간격 지정

[7, 3, 3, 6, 1]

In [38]:
seq[::-1] # 간격으로 -1을 주면 리스트나 튜플을 역순으로 반환

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### 3) 순차 자료형 함수

- enumerate (현재 아이템의 색인을 함게 처리)

In [1]:
some_list = ['foo', 'bar', 'baz']

In [2]:
mapping = {}

In [3]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [4]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

- sorted (정렬)

In [5]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [6]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

- zip (여러개의 순차 자료형을 서로 짝지어 튜플의 리스트 생성)

In [7]:
seq1=['foo','bar','baz']

In [8]:
seq2=['one','two','three']

In [9]:
zipped=zip(seq1, seq2)

In [13]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [14]:
seq3=[False, True]

In [15]:
list(zip(seq1, seq2, seq3)) # 넘겨받은 순차자료형 중 가장 짧은 크기로 리스트 반환

[('foo', 'one', False), ('bar', 'two', True)]

In [18]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0} : {1}, {2}'.format(i, a, b))

0 : foo, one
1 : bar, two
2 : baz, three

In [19]:
# 짝지어진 순차 자료형 다시 풀어내기
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [20]:
first_names, last_names = zip(*pitchers)

In [21]:
first_namesnames

('Nolan', 'Roger', 'Schilling')

In [22]:
last_names

('Ryan', 'Clemens', 'Curt')

- reversed (순차 자료형 역순 순회)

In [33]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 4) dict(사전)

In [34]:
empty_dict={}

In [35]:
d1={'a':'some value', 'b':[1,2,3,4]}

In [36]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [37]:
d1[7] = 'an integer'

In [38]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [39]:
d1['b']

[1, 2, 3, 4]

In [40]:
'b' in d1

True

In [44]:
d1[5] = 'some value'

In [45]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [46]:
d1['dummy'] = 'another value'

In [47]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [48]:
del d1[5]

In [49]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [50]:
ret = d1.pop('dummy')

In [51]:
ret

'another value'

In [52]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [54]:
list(d1.keys())

['a', 'b', 7]

In [55]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

- update(하나의 사전을 다른  사전과 합침)

In [56]:
d1.update({'b':'foo', 'c':12})

In [57]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

- 두개의 순차 자료형의 각 원소를 짝지어 사전으로 만들기

In [58]:
mapping = dict(zip(range(5), reversed(range(5))))

In [59]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

- collections모듈의 defaultdict : 사전에 지정된 키가 없는 경우 기본값 생성하는 함수를 넘겨 사전 생성  
 (by_letter = defaultdict(list) : 키의 값이 없다면 그 키에 해당하는 값을 빈 리스트로 초기화)

- 사전의 값은 어떤 객체라도 상관x, 키는 스칼라형이나 튜플처럼 값이 바뀌지 않는 객체만 가능

### 5) 집합
집합(set)은 유일한 원소만 담는 정렬되지 않은 자료형(즉, 순서가 없어 인덱싱 불가).

In [60]:
set([2,2,2,1,3,3,])

{1, 2, 3}

In [61]:
{2,2,2,1,3,3}

{1, 2, 3}

집합은 합집합, 차집합과 같은 산술 집합 연산 제공

In [62]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [63]:
a.union(b) #합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
a | b #합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
a.intersection(b) #교집합

{3, 4, 5}

In [67]:
a & b

{3, 4, 5}

집합 원소들도 일반적으로 변경이 불가능

In [68]:
#리스트 같은 원소를 담기 위해서는 튜플로 변경해야 함
my_data = [1,2,3,4]

In [69]:
my_set = {tuple(my_data)}

In [70]:
my_set

{(1, 2, 3, 4)}

In [71]:
# 부분집합인지 확대집합인지 확인
a_set = {1,2,3,4,5}

In [72]:
{1,2,3}.issubset(a_set)

True

In [73]:
a_set.issuperset({1,2,3})

True

In [74]:
{1,2,3} == {3,2,1}

True

### 6) 리스트 표기법
간결한 표현으로 새로운 리스트 만들기

- 기본 형식 : [expr for val in collection if condition] (조건문 생략 가능)  
반복문으로 구현하면 아래와 같음

In [77]:
# result = []
# for val in collection:
#     if condition:
#         result.append(expr)

In [78]:
strings = ['a','as','bat','car','dove','python']

In [79]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

- 사전 표기법 : {key-expr : value-expr for value in collection if condition}  
- 집합 표기법 : 대괄호 대신 중괄호를 쓴다는 것 빼면 리스트 표기법과 동일

In [80]:
unique_lengths = {len(x) for x in strings}

In [81]:
unique_lengths

{1, 2, 3, 4, 6}

In [85]:
# map함수(두 번째 인자인 반복 가능한 자료형을 첫 번째 인자인 함수에 하나씩 집어넣어서 함수를 수행) 를 사용할 수도 있음
set(map(len, strings))

{1, 2, 3, 4, 6}

In [86]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [87]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

- 중첩된 리스트 표기법

In [88]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [89]:
# 각 이름에서 알파벳 e가 2개 이상 포함된 이름의 목록
result = [name for names in all_data for name in names if name.count('e') >= 2] # for 부분은 중첩의 순서에 따라 나열, 필터는 끝에 위치

In [90]:
result

['Steven']

In [91]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

In [92]:
flattened = [x for tup in some_tuples for x in tup]

In [93]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 7) 함수
- 함수 블록이 끝날 때까지 return문이 없다면 None이 자동으로 반환됨

- 여러 개의 값 반환 가능

In [1]:
def f():
    a=5
    b=6
    c=7
    return a,b,c

In [2]:
a,b,c=f()

In [3]:
def f():
    a=5
    b=6
    c=7
    return {'a':a, 'b':b, 'c':c}

- 순차적 자료형에 대해 함수를 적용하는 내장 함수인 map 함수를 이용해서 함수를 인자로 사용 가능

In [4]:
# for x in map(function, list):
#     print(x)

- 람다(익명) 함수

In [5]:
# def short_function(x):
#     return x *2

equiv_anon = lambda x:x*2

In [6]:
# 각 문자열에서 다양한 문자가 포함된 순서로 정렬하기
strings= [ 'foo','card','bar','aaaa','abab']

In [7]:
strings.sort(key=lambda x: len(set(list(x))))

In [8]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [10]:
equiv_anon(9)

18

- 커링 :함수에서 일부 인자만 취하는 새로운 함수를 만드는 기법

In [11]:
def add_number(x,y):
    return x+y

In [12]:
add_five = lambda y: add_number(5,y)

In [14]:
# functools 모듈의 partial 함수를 이용하여 단순화 할 수 있음
from functools import partial
add_five = partial(add_number, 5)

### 8) 제너레이터
- 리스트 내의 객체나 파일의 로우 같은 순차적인 자료를 순회하는 일관적인 방법 제공

- 이터레이터 프로토콜을 이용해 순회 가능한 객체를 만들 수 있음

In [34]:
some_dict={'a':1, 'b':2, 'c':3}

In [35]:
for key in some_dict: #some_dict에서 이터레이터를 생성
    print(key)

a
b
c

In [36]:
dict_iterator = iter(some_dict)

In [37]:
dict_iterator

- 이터레이터는 for문 같은 컨텍스트에서 사용될 경우 객체를 반환  
- 리스트나 리스트와 유사한 객체를 취하는 대부분의 메서드는 순회 가능한 객체도 허용(min, max, sum 혹은 list, tuple 같은 자료구조 생성 메소드)

In [38]:
list(dict_iterator)

['a', 'b', 'c']

- 제너레이터는 순회 가능한 객체를 생성하는 간단한 방법  
- 일반 함수 : 단일 값 반환 / 제너레이터 : 순차적인 값을 매 요청 시마다 하나씩 반환(함수에서 return 대신 yield 사용)

In [45]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i ** 2

In [46]:
gen = squares()

In [41]:
gen #제너레이터를 호출하더라도 코드가 즉각적으로 실행되지 않음

In [47]:
for x in gen:
    print(x, end=' ') # 제너레이터로부터 값을 요청하면 그때서야 제너레이터의 코드 실행

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

- 제너레이터 표현식 : 제너레이터를 생성하는 더 간단한 방법으로써 리스트 표현식에서 사용하는 대괄호 대신 괄호를 사용

In [43]:
gen = (x ** 2 for x in range(100))

In [48]:
# 위와 동일한 코드
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

- 제너레이터 표현식은 리스트 표현식을 인자로 받는 어떤 파이썬 함수에서도 사용 가능

In [49]:
sum(x ** 2 for x in range(100))

328350

In [50]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### 9) itertools 모듈
itertools 모듈은 일반 데이터 알고리즘을 위한 많은 제너레이터 포함

- groupby : 순차 자료구조와 함수를 받아 인자로 받은 함수에서 반환하는 값에 따라 그룹 지음

In [51]:
import itertools

In [52]:
first_letter = lambda x:x[0]

In [53]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [54]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names는 제너레이터

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 10) 에러와 예외 처리

In [56]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [57]:
float('1.2345')

1.2345

In [59]:
attempt_float('1.2345')

1.2345

In [60]:
attempt_float('something')

'something'

In [66]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError: # 처리하고 싶은 특정한 에러를 적어줄 수 있음
        return x

In [67]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [63]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError): # 튜플을 사용해서 여러 개의 예외를 한 번에 처리
        return x

- finally : try 블록의 코드가 성공적으로 수행되었는지 여부와 관계없이 실행  
- else : try 블록이 성공적으로 수행되었을 때만 수행

### 11) 파일과 운영체제

- open : 파일을 읽고 쓰기 위해 열때 사용

In [68]:
path = 'examples/segismundo.txt'
f=open(path)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

- 기본적으로 파일은 읽기 전용 모드인 'r'로 열림  
- 파일 핸들 f를 리스트로 생각할 수 있으며 파일의 매 줄을 순회할 수 있음

In [69]:
for line in f:
    pass

NameError: name 'f' is not defined

In [ ]:
# 파일에서 읽은 줄은 end-of-line 문자가 그대로 남아 있으므로 이를 제거
lines = [x.rstrip() for x in range(path)] #rstrip()은 오른쪽 공백제거

- 작업이 끝난 후 명시적으로 닫아주어야 함(파일을 닫으면 해당 자원을 운영체제로 되돌려줌)

In [ ]:
f.close()

In [ ]:
# with를 사용하면 with 블록이 끝나는 시점에 파일 핸들 f를 자동으로 닫아줌
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [70]:
f = open(path, 'w') # 파일이 새롭게 생성되고 파일의 내용을 새로운 내용으로 덮어씀

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

- 파일 읽을 때는 read, seek, tell 메서드를 주로 사용  
- read : 해당 파일에서 특정 개수만큼의 문자 반환(읽은 바이트만큼 파일 핸들의 위치를 옮김)    
- tell : 현재 위치를 알려줌  
- seek : 파일 핸들의 위치를 해당 파일에서 지정한 바이트 위치로 옮김  
- write 또는 writelines : 파일에 텍스트 기록